
/* css */
*{
  background-color: black;
}
h1{
  color:white;
}
href{
  color:white;
}
#wrapper {/* does not work */
    margin-left:auto;
    margin-right:auto;
    height: 1000px;
    width:1500px;
    resize: none;
    position:absolute;
}
body { min-height: 100vh; }

#person .behind{
  position: absolute;
  opacity: 0;
  height: 700px;
  width:700px;
  resize: none;
}
#head{
  position: relative;
  top:17%;
  left:35%;
  height: 600px;
  width: 500px;
  background-color: #FFDBAC;
}
#first_chin{
  position: relative;
  top:15%;
  left:42%;
  height: 55px;
  width: 300px;
  background-color: #FFDBAC;
}
#second_chin{
  position: relative;
  top:12%;
  left:45.5%;
  height: 80px;
  width: 200px;
  background-color: #FFDBAC;
}
#first_forehead{
  position: relative;
  top:-64%;
  left:42%;
  height: 100px;
  width: 300px;
  background-color: #FFDBAC;
}
#hair_top{
  position: relative;
  top:-90%;
  left:42%;
  height: 75px;
  width: 300px;
  background-color: #fbe7a1;
}
#hair_sq_left{
  position: relative;
  top:-97.5%;
  left:35%;
  height: 100px;
  width: 106px;
  background-color: #fbe7a1;
}
#hair_sq_right{
  position: relative;
  top:-107.5%;
  left:61%;
  height: 100px;
  width: 110px;
  background-color: #fbe7a1;
}
#hair_ear_left{
  transform: rotate(90deg);
  position: relative;
  top:-103%;
  left:23%;
  height: 70px;
  width: 300px;
  background-color: #fbe7a1;
}
#hair_ear_left2{
  transform: rotate(90deg);
  position: relative;
  top:-75%;
  left:23%;
  height: 70px;
  width: 300px;
  background-color: #fbe7a1;
}
#hair_ear_right{
  transform: rotate(90deg);
  position: relative;
  top:-110%;
  left:60%;
  height: 70px;
  width: 300px;
  background-color: #fbe7a1;
}
#hair_ear_right2{
  transform: rotate(90deg);
  position: relative;
  top:-82%;
  left:60%;
  height: 70px;
  width: 300px;
  background-color: #fbe7a1;
}
#hair_down_right{
  transform: rotate(90deg);
  position: relative;
  top:-107%;
  left:46%;
  height: 70px;
  width: 800px;
  background-color: #fbe7a1;
}
#hair_down_left{
  transform: rotate(90deg);
  position: relative;
  top:-100%;
  left:3.5%;
  height: 70px;
  width: 800px;
  background-color: #fbe7a1;
}
#left_ear {
  transform: rotate(90deg);
  position: relative;
  top:-40%;
  left:28%;
  height: 70px;
  width: 140px;
  background-color: #FFDBAC;
  resize: none;
}
#right_ear {
  transform: rotate(90deg);
  position: relative;
  top:-47%;
  left:66%;
  height: 70px;
  width: 140px;
  background-color: #FFDBAC;
  resize: none;
}
#left_eye {
  position: absolute;
  top:25%;
  left:10%;
  height: 80px;
  width: 130px;
  background-color: white;
  border-radius: 50%;
}
#right_eye {
  position: absolute;
  top:25%;
  right:10%;
  height: 80px;
  width: 130px;
  background-color: white;
  border-radius: 50%;
}
#pupil {
  position: absolute;
  top:20%;
  left:30%;
  height: 50px;
  width: 50px;
  background-color:#1569C7;
  border-radius: 50%;
}
#inside_pupil {
  position: absolute;
  top:25%;
  left:25%;
  height: 25px;
  width: 25px;
  background-color:black;
  border-radius: 50%;
}
#left_eyebrow {
  position: absolute;
  top:15%;
  left:7%;
  height: 30px;
  width: 130px;
  background-color: #654321;
}
#right_eyebrow {
  position: absolute;
  top:15%;
  right:7%;
  height: 30px;
  width: 130px;
  background-color: #654321;
}
#nose {
  transform: rotate(90deg);
  position: absolute;
  top:45%;
  left:37%;
  height: 70px;
  width: 130px;
  background-color: #F1C27D;
}
#nostril {
  position: absolute;
  top:60%;
  left:40%;
  height: 40px;
  width: 100px;
  background-color: #F1C27D;
}
#top_lip{
  position: absolute;
  top:75%;
  left:35%;
  height: 25px;
  width: 150px;
  background-color: #d65b5b;
}
#square_lip_left{
  position: absolute;
  top:79%;
  left:30%;
  height: 25px;
  width: 25px;
  background-color: #d65b5b;
}
#square_lip_right{
  position: absolute;
  top:79%;
  right:30%;
  height: 25px;
  width: 25px;
  background-color: #d65b5b;
}
#bottom_lip{
  position: absolute;
  top:83%;
  left:35%;
  height: 25px;
  width: 150px;
  background-color: #d65b5b;
}
#teeth{
  position: absolute;
  top:79%;
  left:35%;
  height: 25px;
  width: 150px;
  background-color: white;
}
